# Puertos expuestos en el Host
CLIENT_PORT=3000
API_PORT=3001
POSTGRES_PORT=5436
REDIS_PORT=6379

# Variables de la API
JWT_SECRET=vir_ttend_super_secret_jwt_key_2026
JWT_REFRESH_SECRET=vir_ttend_super_secret_refresh_jwt_key_2026
CORS_ORIGINS=http://localhost:3000,http://localhost:3002,http://127.0.0.1:3000,http://127.0.0.1:3002

# Variables del Cliente (Next.js)
NEXT_PUBLIC_API_URL=http://localhost:3001
